<form id="create-task-form">
    <div class="alert alert-success d-none">
        <strong>Success!</strong> Task was created.
      </div>
    <div class="form-group">
      <label for="title">Title</label>
      <input type="input" class="form-control" id="title" name="title" required>
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Executor</label>
      <select class="form-control" id="executor" name="executor">
        <%users.forEach((user)=>{%>
        <option value="<%=user._id%>"><%=user.username%></option>
        <%})%>
      </select>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="description" name="description" rows="3" required></textarea>
    </div>
    <button type="submit" class ="btn btn-primary" onsubmit=create()">Create task</button>
</form>