<a href="https://t.me/tskmanagerbot?message=natalia" target="_blank"
    class="telegramim_button telegramim_shadow telegramim_pulse"
    style="font-size:12px;width:200px;background:#27a5e7;box-shadow:1px 1px 5px #27a5e7;color:#FFFFFF;border-radius:16px;"
    title=""> Get alerts in Telegram</a>